# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
ENV/
env/
.env

# Conan
conan.lock
conanbuildinfo.*
conaninfo.txt
graph_info.json
CMakeUserPresets.json

# Testing / Coverage
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
examples/basic/*build*/
recipes/cpython/test_package/*.sh
recipes/cpython/test_package/*.bat
recipes/cpython/test_package/*.ps1
examples/basic-pybind11/*build*/
examples/basic-nanobind/*build*/
conanbuild*.sh
conanrun*.sh
deactivate_conanbuild*.sh
deactivate_conanrun*.sh

